.contents-wrapper {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contents-wrapper.main {
    background-color: #0a1b62;
}

.sub_banner {
    width: 50%;
    margin: 10% 0;
}

@keyframes tada {
    from {
        -webkit-transform: translateY(+50px);
        transform: translateY(+50px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.sub_banner:first-child {
    animation-name: tada;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}

.sub_banner:nth-child(2) {
    text-align: right;
}
.sub_banner p {
    color: white;
    text-align: left;
    margin: 0;
}

.banner {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.review-container {
    max-width: 1300px;
    margin: 5% 0;
}
