.title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
}

.explain {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.keywordBtn {
    border: 1px solid black;
    display: inline;
    width: 60%;
    height: 2em;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 0 auto;
}

.like {
    background-color: blue;
    color: white;
}

.hate {
    background-color: red;
    color: white;
}

.submitBtn {
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    width: 100%;
    border-radius: 50px;
    height: 40px;
    background-color: #323c63;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.sbox {
    background-color: rgba(211, 210, 238);
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    max-height: 200px;
    text-align: center;
    overflow-y: scroll;
    padding: 2rem 0;
    margin: 0 auto;
}

.grid {
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(15%, auto));
}

.text {
    text-align: center;
    margin: 10px;
}

.showmore {
    display: block;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0);
}

.grid-item {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbox:hover {
    cursor: url("../../down-arrow.png"), auto;
}

.sbox::-webkit-scrollbar {
    display: none;
}
