.App {
    text-align: center;
}

html,
body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
#root {
    height: 100%;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
.loader {
    position: relative;
    text-indent: -9999em;
    border-top: 0.3em solid #ede9d6;
    border-right: 0.3em solid #ede9d6;
    border-bottom: 0.3em solid #ede9d6;
    border-left: 0.3em solid #585858;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
}
@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.full-page {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-3 {
    background-color: rgba(0, 0, 0, 0.3);
}

.pos {
    color: #006ebe;
}

.neg {
    color: #ef1c1c;
}
